<!DOCTYPE html>
<html>
<head>
  <title>HearMe</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>-<%= action_name %>">
  <%= render partial: "shared/menu_bar" %>
  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    <%= raw(content_for(:js_page).presence || "WN.page = new WN.BasePage;") %>
  <% end %>

</body>
</html>
